.gridContainer {
  display: grid;
  grid-template-areas: 
    "header"
    "eventGrid"
    "footer";
  grid-template-rows: 120px 1fr 50px;
  height: 100vh;
  overflow: hidden;
}

.header {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 120px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventGrid {
  grid-area: eventGrid;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 50px 5%;
  height: calc(100vh - 300px);
}

.footer {
  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline-grid;
  background-color: #222222;
  opacity: 0.7;
  text-align: center;
  align-content: center;
}

.category {
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 8px;
  color: #2a431c;
  background-color: #93c377;
  opacity: 0.7;
}

.oneLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventContainer {
  color: #222222;
  background-color: #ffffff91;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.eventContainer:hover {
  background-color: #ffffffcc;
}

.monthSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailedView {
  padding: 20px;
  background-color: #ffffff91;
  border-radius: 5px;
}

.detailedViewHeader {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
}